#modal-root {
    position: relative;
    z-index: 100;    
  }
  .messsage-container{
    background-color:  #f0e0dd;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .messsage-box {
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 50%;
    width: 30%;  
    border-radius: 30px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;    
  }
  .messsage-box::after{
    content: '\f00d';    
    position: absolute;
    top: 23px;
    right: 32px;  
    font-family: FontAwesome;
    font-size: 44px;    
    color:  #FFB2A0;    
}
  .message-text{     
    color:  #FFB2A0; 
    width: 80%;    
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .close{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 30px; 
    background-color: rgba(28, 28, 28, 0);    
    z-index: 200;
    border: 0;
    cursor: pointer; 
} 
  